body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

hr{
    border: 0;
    background-color: #e5e5e5;
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Intro */
.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../img/intro.jpg") no-repeat;
    background-size: cover;
}

.intro-inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro-title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    
}

.intro-title::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: #fff;
    display: block;
    margin: 60px auto;

}
.intro-subtitle{
    margin-bottom: 10px;
    font-size: 65px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    
}

/* Header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}

/* Nav */
.nav{
    text-transform: uppercase;
    font-size: 14px;
}
.nav-link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position:relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav-link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #fce38a;
    top: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav-link:hover{
    color: #fce38a;

}
.nav-link:hover::after
{
    opacity: 1;
}


/* Button */
.btn{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}
.btn:hover{
    background-color: #fff;
    color: #333;
    
}

/* Slider */
.intro-slider{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.slider-inner{
    display: flex;
    justify-content: space-between;
}
.slider-item{
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0;
    border-top: 3px solid #fff;
    opacity: .7;
    position: relative;
}

.slider-item.active{
    opacity: 1;
}

.slider-item.active::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: relative;
    top: -8px;
    left: 0;
    z-index: 1;
    background-color: #f38181;

}
.slider-num{
    font-size: 24px;
    font-weight: 700;

}

/* Section */
.section{
    padding: 80px 0;
}
.section--devices{
    background: url("../img/deviceground.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 0;
    margin-bottom: 40px;

}

.section--gray{
    background-color: #f8f8f8;
}

.section--clients{
    background: #f5f5f5 url("/img/clientsbg.jpg") center no-repeat;
    background-size: cover;

}

.section--map{
    background: #e6e6e6 url("/img/map.jpg") center no-repeat;
    padding: 40px 0;
    background-size: cover;
}

.section-header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section-subtitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.section-title::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
}
.section-text{
    color: #999;
    font-size: 15px;
}

/* Card */
.card{
    margin-top: 80px -15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-item{
    width: 33.33333%;
    padding: 0 15px;
}

.card-inner{
    background-color: #95e1d3;
    position: relative;
}

.card-item:hover .card-img img{
    opacity: .1;
}
.card-item:hover .card-img {
    transform: translate3d(-10px, -10px, 0);
}
.card-item:hover .card-text{
    opacity: 1;
}

.card-img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.card-img img{
    display: block;
    transition: opacity .3s linear;
    max-width: 100%;
    height: auto;
}

.card-text{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%,  0);
    width: 100%;
    opacity: 0;
    transition: opacity .2s linear;
}

.card-info{
    margin-top: 20px;
    text-align: center;
}

.card-name{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.card-prof{
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/* Statistics */

.statistics{
    background-color: #e79d81;

}

.stat{
    display: flex;
    flex-wrap: wrap;

}
.stat-item{
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    padding: 70px 25px;
    text-align: center;
    color: #fff;
}
.stat-item:last-child{
    border-right:  1px solid #b5eae0;
}

.stat-count{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}
.stat-text{
    font-size: 14px;
    text-transform: uppercase;
}

/* Services */

.services{
    display: flex;
    flex-wrap: wrap;
}

.services-item{
    width: 33.3333%;
    position: relative;
    margin-bottom: 40px;
    padding: 0 35px 40px 85px;
}

.services-item--border{
    border-bottom: 1px solid #e5e5e5;
}

.services-icon{
    position: absolute;

    top: 0;
    left: 28px;
    z-index: 1;
}

.services-title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-text{
    font-size: 15px;
    color: #999;

}

/* Devices */

.devices{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices-item{
    display: block;
    max-width: 100%;
    height: auto;
}

.devices-item--iphone{
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

.wedo{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.wedo-item{
    width: 50%;
    padding: 0 15px;
}
.wedo-img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Accordion */

.accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion-item.active
.accordion-content{
    display: block;
}

.accordion-item.active
.accordion-header{
    border-bottom-color: #e5e5e5;
}

.accordion-item.active
.accordion-header::after{
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion-header{
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px;
    position: relative;
    cursor: pointer;

}

.accordion-header::after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    
}

.accordion-icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion-content{
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    display: none;
}
.accordion-title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


/* Reviews */

.reviews{
    padding: 0 110px;
    position: relative;
}
.reviews-item{
    padding-left: 255px;
    position: relative;
}

.reviews-photo{
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    border: 2px solid #95e1d3;
}

.reviews-text{
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews-author{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.reviews-author::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    color: transparent;
}

.reviews-btn::after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    
    top: 50%;
    right: 20px;
    z-index: 1;
    
}

.reviews-btn--prev{
    left: 0;
    transform:  rotate(-45deg);
}

.reviews-btn--next{
    right: 0;
    transform:  rotate(135deg);
}

/* Social */

.social{
    display: flex;
    justify-content: center;
}



.social-item{
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    padding: 12px 10px;
    line-height: 1;
    width: 55px;
    height: 55px;
    transition: background .1s linear,
    color .1s linear;
}

.social-item:last-child{
    border-right: 0;
}

.social-item:hover{
    background-color: #f38181;
    color: #fff;        
}


/* Logos */
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Works */
.works{
    display: flex;
}
.works-col{
    flex-direction: 1 1 0;

}
.works-item{
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);

}

.works-item:hover .works-img{
    opacity: .1;
}

.works-item:hover .works-info{
    opacity: 1;
}

.works-img{
    transition: opacity .2s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.works-info{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 15px;
    opacity: 0;
    transition: opacity .2s linear;
}

.works-title{
    
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    
}

.works-text{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/* Clients */

.clients{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients-item{
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients-img{
    top: 0;
    left: 40px;
    z-index: 1;
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.clients-name{
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients-prof{
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients-text{
    font-size: 15px;
    color: #999;
}
.clients-text::before{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

/* Blog */
.blog{
    display: flex;
    justify-content: space-between;
}
.blog-item{
    width: 31%;

}
.blog-header{
    position: relative;
    margin-bottom: 14px;
}
.blog-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.blog-date{
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    background-color: #95e1d3;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    padding: 10px 20px;
    text-align: center;
    font-weight: 300;
}

.blog-date-day{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.blog-content{
    margin-bottom: 10px;
}

.blog-title{
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}

.blog-title a{
    color: inherit;
    text-decoration: none;
}
.blog-title:hover{
    text-decoration: underline;
}

.blog-text{
    color: #999;
    font-size: 15px;
}
.blog-footer{
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
}

.blog-stat-item{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat-item i{
    color: #95e1d3;
}

/* Map */

.map{
    text-align: center;
}
.map-title{
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map-title::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px auto 0;
}

.map-title a{
    color: inherit;
    text-decoration: none;
}
.map-title:hover{
    text-decoration: underline;
}

/* Footer */
.footer{
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer-inner{
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.footer-col--first{
    width: 40%;
}

.footer-col--second{
    width: 29%;
}
.footer-col--third{
    width: 22%;
}

.footer-logo{
    color: #ccc;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-text{
    font-size: 15px;
    color: #999;
    margin-bottom: 30px;
}

.footer-social{
    margin-bottom: 25px;
}

.footer-social-header{
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.footer-social-header b{
    font-size: 18px;
}

.footer-social-content{
    padding-top: 15px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer-social-content a{
    color: #95e1d3;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

}


.footer-title{
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin-bottom: 30px 0;
    
}

/* Blogs */


.blogs-item{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs-img{
    width: 120px;
    height: 80px;
}

.blogs-content{
    padding-left: 20px;
}
.blogs-title{
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    display: block;
    margin-bottom: 5px;
}
.blogs-title:hover{
    text-decoration: underline;
}

.blogs-date{
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

/* Subscribe */
.subscribe{
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe-input{
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 1.1;
    width: 60%;
    border-right: 0;
}

.subscribe-btn{
    height: 40px;
    width: 40%;
    background-color: #95e1d3;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    line-height: 1.1;
    transition: background .1s linear;
}

.subscribe-btn:hover{
    background-color: #74c7b8;
}

.subscribe-input::placeholder{
    color: #ccc;
}

.subscribe-input:focus{
    outline: 0;
    border-color: #95e1d3;
}

.subscribe-btn:focus{
    outline: 0;
}

/* Insta */

.insta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.insta-item{
    
    border-bottom: 1px solid #fff;
    width: 32.33333%;
}

.insta-item img{
    display: block;
}

/* Copyright */

.copyright{
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
    color: #333;
}


.copyright span{
    color: #f38181;
}

@media(max-width: 1230px){

    /* Intro */
    .intro-title{
        font-size: 120px;
    }
    .intro-subtitle{
        font-size: 52px;
    }
}

@media(max-width: 990px){
    /* Intro */
    .intro-title{
        font-size: 80px;
    }
    .intro-subtitle{
        font-size: 32px;
    }

    /* Statistisc */
    .stat{
        justify-content: center;
    }
    .stat-item{
        flex: none;
        width: 33.3333%;
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .stat-item:last-child{
        border-right: 0;
    }

    /* Services */
    .services-item{
        width: 50%;
        padding-bottom: 0;
    }
    .services-item--border{
        border-bottom: 0;
    }
    
}

@media(max-width: 770px){
    /* Nav */
   .nav{
       display: none;
   }
   /* Slider */
   .slider-text{
       display: none;
   }
   .slider-item.active:before{
        width: 50%;
   }

   /* Section */
   .section{
       padding: 40px 0;
   }

   .section--devices{
       padding-bottom: 0;
   }

   /* Card */

   .card{
       justify-content: center;
       margin-top: 50px;
   }
   .card-item{
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
   }
   .card-item:last-child{
       margin-bottom: 0;
   }

   /* Services */
   .services{
       justify-content: center;
   }
   .services-item{
    width: 100%;
    max-width: 400px;
    padding-left: 55px;
    padding-right: 0;
    }
    .services-icon{
        left: 0;
    }

    /* Wedo */
    .wedo-img{
        display: none;
    }
    .wedo-item{
        width: 100%;
    }
}

@media(max-width: 575px){
    /* Intro */
    .intro-title{
        font-size: 40px;
    }
    .intro-subtitle{
        font-size: 22px;
    }

    /* Section */
    .section-header{
        margin-bottom: 50px;
    }
    .section-title{
        font-size: 24px;
    }
    .section-subtitle{
        font-size: 20px;
    }

    .section-title::after{
        margin: 20px auto;
    }

    /* Statistisc */
    .stat-item{
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }
    .stat-item:last-child{
        border-bottom: 0;
    }
    .stat-count{
        font-size: 52px;
    }

    /* Devices */
    .devices{
        max-width: 320px;
    }
    .devices-item--iphone{
        width: 180px;
        bottom: -50px;
        right: -80px;
    }
}